/* ----- Max Width ----- */
@media (max-width: 575px) {
  .prod-content {
    height: 400px;
  }
}

@media (max-width: 991px) {
  .border-b li a {
    padding: 0 10px !important;
    margin: 0 !important;
    margin-top: 5px !important;
  }
  .border-b-hover li a {
    border-bottom: 0 !important;
  }
  .social {
    margin: 0 !important;
  }
  .social li a {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }

  .social i {
    font-size: 20px;
  }
}


/* ----- Min Width ----- */
@media (min-width: 100px) {
  .logo {
    height: 60px;
  }
  .text-video img {
    width: 300px;
  }
}

@media (min-width: 480px) {
  .logo {
    height: 80px;
  }
}

@media (min-width: 576px) {
  .text-video img {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .text-video img {
    width: 700px;
  }
}